body {
  background-color: #baa6d0 !important;
}
.top {
  background-color: #baa6d0;
}
.disabled {
  color: white !important;
}
.active {
  color: white !important;
  opacity: 0.6;
}
.container-fluid {
  text-align: center;
  color: #372a46;
}

.paint {
  background-color: #baa6d0;
}

h2 {
  color: white !important;
  margin-top: 1% !important;
  text-align: end;
  opacity: 0.6;
}
h4 {
  font-weight: bold !important;
}
.foot {
  background-color: #baa6d0 !important;
}
