body {
  background-color: #baa6d0 !important;
}
.top {
  background-color: #baa6d0;
}
.disabled {
  color: white !important;
}
.active {
  color: white !important;
  opacity: 0.6;
}
.container-fluid {
  background-color: white;
}

.paint {
  background-color: #baa6d0;
}
h1{
  color: white;
  margin-top: 1% !important;
}
.foot {
  background-color: #baa6d0 !important;
}
